:local(.header){
    background: peru;
    color: white;
    font-size: 1em;
    padding : 0em 1em;
    margin-bottom: 5em;
    text-align: center;
}
:local(h2){
    color: black;
}
:local(.blinking){
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}