.ReactModalPortal>div {
    opacity:0;
}
.ReactModalPortal .ReactModal__Overlay{
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity:1;
}

.ReactModalPortal .ReactModal__Overlay--before-open{
    opacity:0;
}