
button{
    margin-left:1em;
    font-family : 'Times New Roman', Times, serif
}

text{
    color:black;
    font-family:'Times New Roman', Times, serif;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom : 1em;
    size :20
}

textarea{
    font-family:'Times New Roman', Times, serif;
    margin-left: 1em;
}
label{
    display:inline-block;
    width:200px;
    margin-right:5px;
    text-align:right;
}

.divTop{
    padding-top: 1em
}
.divDataInputs{
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.divDropDown{
    width:25;
    display:inline-block;  
}
.center{
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
select{
    font-family:'Times New Roman', Times, serif
}

.container{
    padding-top : 3em
}


  